### LISTS in python
 - Lists are datatypes used to store sequence of data both numeric and string data
 EG: A=[1,2,3,45,67]

In [3]:
A=[1,2,3,45,67]
print(A)
print(type(A))

[1, 2, 3, 45, 67]
<class 'list'>

In [4]:
B=['PESIT', 'CSE', 'ABEYAANTRIX']
print(B)
print(type(B))

['PESIT', 'CSE', 'ABEYAANTRIX']
<class 'list'>

In [5]:
C=['PESIT', 'YEAR', 2021, 2022]
print(C)
print(type(C))

['PESIT', 'YEAR', 2021, 2022]
<class 'list'>

In [6]:
D=[A,B]
print(D)

[[1, 2, 3, 45, 67], ['PESIT', 'CSE', 'ABEYAANTRIX']]

In [ ]:
E=['Shimoga', 'DVG', 'BLR', [250, 90, 270]]

### Accessing content of the list

-        0        1      2      3
**** C=['PESIT', 'YEAR', 2021, 2022]
-        -4       -3    -2     -1
- print(C)
- python list uses both positive and negative insexing

In [8]:
C=['PESIT', 'YEAR', 2021, 2022]

C[0]

'PESIT'

In [9]:
# slicing operator :
C[0:2]

['PESIT', 'YEAR']

In [10]:
C[3]

2022

In [11]:
C[-1]

2022

In [13]:
C[2:4]

[2021, 2022]

In [17]:
C[-3:-1]

['YEAR', 2021]

In [15]:
C[-2:]

[2021, 2022]

In [16]:
C[2:]

[2021, 2022]

In [18]:
P=['smg', 'dvg', 'blr', 'mys', 'klr', 'mdy', 'bgk', 'bgm']

In [31]:
print(P[0:4])# access first 4 city
print(P[-8:-4])
print(P[4:])# access last 4 cities
print(P[-4:])
print(P[2:5])# access blr, mys and klr cities
print(P[-6:-3])
print(P[1:7])# access all cities except first and last city
print(P[1:-1])

['smg', 'dvg', 'blr', 'mys']
['smg', 'dvg', 'blr', 'mys']
['klr', 'mdy', 'bgk', 'bgm']
['klr', 'mdy', 'bgk', 'bgm']
['blr', 'mys', 'klr']
['blr', 'mys', 'klr']
['dvg', 'blr', 'mys', 'klr', 'mdy', 'bgk']
['dvg', 'blr', 'mys', 'klr', 'mdy', 'bgk']

### List methods

In [34]:
P=['smg', 'dvg', 'blr', 'mys', 'klr', 'mdy', 'bgk', 'bgm']
# want to add new city
# append method
P.append('CDG')
# we can add a complete list to original list
G=['BLY', 'KPL', ' MDK']
P.append(G)
print(P)

['smg', 'dvg', 'blr', 'mys', 'klr', 'mdy', 'bgk', 'bgm', 'CDG', ['BLY', 'KPL', ' MDK']]

In [35]:
P=['smg', 'dvg', 'blr', 'mys', 'klr', 'mdy', 'bgk', 'bgm']
# want to add new city
# append method
P.append('CDG')
# we can add a complete list to original list
G=['BLY', 'KPL', ' MDK']
P.extend(G)
print(P)

['smg', 'dvg', 'blr', 'mys', 'klr', 'mdy', 'bgk', 'bgm', 'CDG', 'BLY', 'KPL', ' MDK']

In [40]:
print(P)
P[3]='RAJ'
print(P)

['smg', 'dvg', 'blr', 'mys', 'klr', 'mdy', 'bgk', 'bgm', 'CDG', 'BLY', 'KPL', ' MDK']
['smg', 'dvg', 'blr', 'RAJ', 'klr', 'mdy', 'bgk', 'bgm', 'CDG', 'BLY', 'KPL', ' MDK']

In [ ]:
# insert, concat, pop

#### TUPLES  
    - tuples similar to list but they are immutable
    we can not modify the content of the tuple

In [36]:
T=('smg', 'dvg', 'blr', 'mys', 'klr', 'mdy', 'bgk', 'bgm')
print(T)
print(type(T))

('smg', 'dvg', 'blr', 'mys', 'klr', 'mdy', 'bgk', 'bgm')
<class 'tuple'>

In [37]:
T[1:4]

('dvg', 'blr', 'mys')

In [38]:
T[4:]

('klr', 'mdy', 'bgk', 'bgm')

In [39]:
T[-4:]

('klr', 'mdy', 'bgk', 'bgm')

In [41]:
print(T)
T[3]='MJS'
print(T)

('smg', 'dvg', 'blr', 'mys', 'klr', 'mdy', 'bgk', 'bgm')

TypeError: 'tuple' object does not support item assignment

In [42]:
T.append('mjs')

AttributeError: 'tuple' object has no attribute 'append'

### Strings

In [45]:
# list is sequence of characters
M='HELLO PESIT CSE STUDENTS'
print(M)
print(M[0:5]) # hello
print(M[6:11])             # pesit
print(M[-24: -19])

HELLO PESIT CSE STUDENTS
HELLO
PESIT
HELLO

In [46]:
K=M.split()

In [48]:
print(M)
print(type(M))
print(K)
print(type(K))

HELLO PESIT CSE STUDENTS
<class 'str'>
['HELLO', 'PESIT', 'CSE', 'STUDENTS']
<class 'list'>

In [54]:
# add strings 
m='rajesh'
n=' krishna '
H=m+n
print(H)

rajesh krishna

In [55]:
print(H*3)

rajesh krishna rajesh krishna rajesh krishna

In [61]:
Z='PriyaDarshini hello '
Y='laskhmi putra'
X='NANDAN'

print(X, Y, Z)
print(X.lower(), Y.upper(), Z.lower())
# replace, find, join
print(X.join(Z))

NANDAN laskhmi putra PriyaDarshini hello
nandan LASKHMI PUTRA priyadarshini hello
PNANDANrNANDANiNANDANyNANDANaNANDANDNANDANaNANDANrNANDANsNANDANhNANDANiNANDANnNANDANiNANDAN NANDANhNANDANeNANDANlNANDANlNANDANoNANDAN

In [62]:
z=['priya', 'darshini', 'rachna']
print(X.join(z))

priyaNANDANdarshiniNANDANrachna

In [69]:
z=['priya', 'darshini', 'rachna']
x=' '.join(z)
print(z)
print(x)
print(type(x))
y='priya darshnini rachna'
print(y)
print(type(y))
u=y.split()
print(u)

['priya', 'darshini', 'rachna']
priya darshini rachna
<class 'str'>
priya darshnini rachna
<class 'str'>
['priya', 'darshnini', 'rachna']

### Dictionary

In [71]:
#D={'key': value}
College={'CSE':60, 'ECE':90, 'EEE':120}
# here cse ece eee are called keys
# values associated with these keys are 60 90 and 120
# to acces these values we will use keys
College['CSE']
College['ECE']

90

In [73]:
PESIT={'Branch':['CSE', 'ECE','EEE'], 'count':[60,90,120], 'Location':'Shimoga', 'Fee':[60, 65, 55]}
print(PESIT)

{'Branch': ['CSE', 'ECE', 'EEE'], 'count': [60, 90, 120], 'Location': 'Shimoga', 'Fee': [60, 65, 55]}

In [74]:
PESIT['Branch']

['CSE', 'ECE', 'EEE']

In [77]:
PESIT['count'][1:]

[90, 120]

In [ ]:
# add new branch,  how to add it
'MECH'
# want to add 2 more branches
'CIVIL', 'ISE'

In [ ]:
#LIST, TUPLES, strings, Dictionry