### DAY2
- Elements of python, 
- DATA types 
- type casting
- errors associated with Type casting
- IO functions
- Strings

# DAY3
- Strings: strings are data type which are collection of characters numeric as well as alphabetical character enclosed in inverted Quotes

- Lists
- Tuples
- Dictionaries

In [2]:
S='Welcome to Online MLP Learning'
len(S)
type(S)

# strings content can be accessed via both +ve aswell negative inde

str

In [10]:
S='HELLO HI'
# Accessing
S[0] # H
S[5]  # space
S[0:4] # start with pos 0 and go upto pos 3
S[:4]# begin with first pos upto 4-1 pos
S[4:]# begin with 4th pos and go till the end
S[4:8]
S[-2:]

'HI'

In [11]:
#REplace
S[0]='M' #we are trying to replace content of the string 
#TypeError: 'str' object does not support item assignment

TypeError: 'str' object does not support item assignment

In [19]:
#Concatination in string
A='Hello '
B='How '
C='are '
D='you'
N=A+B+C+D
print(N)

# if we multiply string with numeric value n, it creates string with copy of the string n times repeated in single sequence
Z=A*5
print(Z)

# if we add string with numeric value : is an error
#Y=A+5 # type Error: data type mismatch
#print(Y)

Y=A+ str(5);print(Y)

Hello How are you
Hello Hello Hello Hello Hello
Hello 5

In [27]:
#Lists are data containers used for storing sequence of data, 
#Data can be int , flaot, string, boolean
Age=[21,22,20,23,21,30]
print(type(Age))
#List can be accessed via positive as well negative ind
print(Age[2])
print(Age[2:5]) # +ve ind
print(Age[-4:-1]) # -ve ind
Age[3:] # from 3 to all
Age[:3] # from begining to 3-1

<class 'list'>
20
[20, 23, 21]
[20, 23, 21]

[21, 22, 20]

In [34]:
#20 with 19
Age[2]=19 # single element replacemnet
Age
Age[-3]=45
Age
Age[-3:]=[2,3,4] # multiple elem replacement
Age
Age[2:4]=['Tanmay', 32]
Age

[21, 22, 'Tanmay', 32, 3, 4]

In [37]:
Name=['Suhail', 'Ashwin','Pooja', 'shiv','Bhoomi']
len(Name)
print(Name)
Name[1]='Nandish'
print( Name)

['Suhail', 'Ashwin', 'Pooja', 'shiv', 'Bhoomi']
['Suhail', 'Nandish', 'Pooja', 'shiv', 'Bhoomi']

In [38]:
Name

['Suhail', 'Nandish', 'Pooja', 'shiv', 'Bhoomi']

In [39]:
Name[1]

'Nandish'

In [40]:
Name[1][:5] # pos access within the list element, content indexing

'Nandi'

In [41]:
L2=['a','hj',[1,2,3], 34,56,['Hello', 'BLR', 'MYS']]
len(L2)

6

In [42]:
L2[2]

[1, 2, 3]

In [43]:
L2[2][2]

3

In [47]:
Age=[21,22,20,23,21,30]
print(Age)
Age.append(3) # used to append single element
print(Age)
G=[23,23,43,56]
Age.append(G)
print(Age)

[21, 22, 20, 23, 21, 30]
[21, 22, 20, 23, 21, 30, 3]
[21, 22, 20, 23, 21, 30, 3, [23, 23, 43, 56]]

In [49]:
Age=[21,22,20,23,21,30]
print(Age)
G=[23,23,43,56] # used 
Age.extend(G) # to append multiple elements
print(Age)
len(Age)

[21, 22, 20, 23, 21, 30]
[21, 22, 20, 23, 21, 30, 23, 23, 43, 56]

10

In [50]:
Age=[21,22,20,23,21,30]
print(Age)
G=[23,23,43,56] # used 
Age.insert(2,G) # to insert elment at specified pos
print(Age)
len(Age)

[21, 22, 20, 23, 21, 30]
[21, 22, [23, 23, 43, 56], 20, 23, 21, 30]

7

In [58]:
TAge=(21,22,20,23,21,30) # tuple
print(type(TAge))

<class 'tuple'>

In [60]:
TAge[2]# single element access
TAge[3:]
TAge[-5:-2]

(22, 20, 23)

In [66]:
Tname=('BLR', "MYS", "DVG",45,56)
Tname[2:]

('DVG', 45, 56)

In [63]:
# Tuples are similar data type just like Lists, we can create with smooth braces, and access using pos based ind +ve -ve ind
# BUT we can not modify the content of the Tuple, they are Immutable
Tname[2]='Shivmoga' #TypeError: 'tuple' object does not support item assignment
# append, extend, insert are not supported

TypeError: 'tuple' object does not support item assignment

In [64]:
Tname.append('Raj')

AttributeError: 'tuple' object has no attribute 'append'

## Dictionary
- Dictionaries are used to store data values in key:value pairs.
- A dictionary is a collection which is unordered, changeable and does not allow duplicates.
- Dictionaries are written within { } and in keys:values format.
- Elements can be accessed using key name.
- only the contents of value can be changed.

In [68]:
College={'Name':'PES','Branch':'CSE','Count':60,1990:30}
# keys : Name, Branch, COunt, 1990
# values: PES, Branch, CSE, 30
College

{1990: 30, 'Branch': 'CSE', 'Count': 60, 'Name': 'PES'}

In [71]:
# to acces values we should use keys
College['Name'] # values associated with key is accessed
College[1990]

30

In [73]:
PES={'Branch':['CSE','ECE','MECH'],'Count':[60,30,90],3:4,4:5}
print(type(PES))
print(PES)
PES['Branch']

<class 'dict'>
{'Branch': ['CSE', 'ECE', 'MECH'], 'Count': [60, 30, 90], 3: 4, 4: 5}

['CSE', 'ECE', 'MECH']

In [74]:
PES['Branch'][2] # contetnt indexing

'MECH'

In [75]:
#to get list of all keys
PES.keys()

dict_keys(['Branch', 'Count', 3, 4])

In [76]:
PES.values()

dict_values([['CSE', 'ECE', 'MECH'], [60, 30, 90], 4, 5])

In [77]:
PES['Count']=23  # new value replaced in Count key value
print(PES)

{'Branch': ['CSE', 'ECE', 'MECH'], 'Count': 23, 3: 4, 4: 5}

In [78]:
PES['year']=1990 # adding ney element key and value to the dict

In [79]:
PES

{3: 4, 4: 5, 'Branch': ['CSE', 'ECE', 'MECH'], 'Count': 23, 'year': 1990}

### programming in Python
if, if else, if elseif else, for, while

In [86]:
# if (condition true)
# execute statement inside if 
T=int(input('enter temp t='))
if (T>30):
    print('print temp hot') # statemnts within the if condition, should follow strict identation
    print(T)
    print(type(T))
print('code completion') # this statemtn is outside the if conditon body

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

In [90]:
T=int(input('enter temp t='))
if (T>30):
    print(' temp hot') # statemnts within the if condition, should follow strict identation
 print(T) #IndentationError: unindent does not match any outer indentation level
    print(type(T))
print('code completion') # this statemtn is outside the if conditon body

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [89]:
# IF ELSE if the condition is true run the if body else run the else body
T=int(input('enter temp t='))
if (T>30):
    print(' temp hot') 
    print(" it's hot ")
else:
    print('Normal')
print('code completion') # this statemtn is outside the if conditon body

enter temp t=45
print temp hot
 it's hot
code completion

In [95]:
# IF ELif else # multiple condition check
#T>30: Hot
#T>=20 and <30 Normal
#<20 >5 cold
#<=5 chilled
T=int(input('enter temp t='))
if (T>30):
    print('print temp hot') 
elif(T>20 and T<=30):
    print('Normal')
elif (T<=20 and T>5):
    print('COlD')
else:
    print('CHilled')
print('code completion') # this statemtn is outside the if conditon body

enter temp t=15
COlD
code completion

In [ ]:
# ask the user to enter the score between 0-100, based on score give the garding
0-34 Fail
35-49 pass
50-59 pass with SC
60-69 pass with FC
70> FCD

In [ ]:
ASK the user to enter Height, Weight Age, and name
Calculate BMI
using BMI and Age grade the person health status as
Healthy Obess
underweight overweight

In [96]:
# For loop
#used for iterating loops at specified iterations
# here loop iterate from i=0 to 4 with inc by 1
for i in range(5):
    print(i)

0
1
2
3
4

In [97]:
# here loop iterate from i=0 to 4 with inc by 1
for i in range(0,5):
    print(i)

0
1
2
3
4

In [98]:
# here loop iterate from i=0 to 4 with inc by 1
for i in range(0,5,1):
    print(i)

0
1
2
3
4

In [99]:
# here loop iterate from i=0 to 4 with inc by 2
for i in range(0,5,2):
    print(i)

0
2
4

In [100]:
# here loop iterate from i=5 to 1 with dec by 1
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [103]:
# find sum of n numbers
n= int(input('enter the value of n='))
S=0
for i in range(1,n+1):
    S=S+i
print('sum of first', n, 'numbers is', S)

enter the value of n=10
sum of first 10 numbers is 55

In [ ]:
# WAP to find factorial of number using for loop
# gen fibonacci series for n numbers using for loop
# write all above programs using while loop
# write examples for each operators in Python

# summary 
- Strings , creating, accessing, slicing, we can not update strings
- List, creation, accessing, slicing, updating, methods
- tuples, creation, accessing, immutable
- dictionary, creation, KEYS and Values, accessing KEYS, updating
- Flow constructs, if, if else, if elif, for loops along with examples